/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---FIN RESET---*/

@font-face {
    font-family: 'FolksRegular';
    src: url('../fonts/Folks-Normal-webfont.eot');
    src: url('../fonts/Folks-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Folks-Normal-webfont.woff') format('woff'),
         url('../fonts/Folks-Normal-webfont.ttf') format('truetype'),
         url('../fonts/Folks-Normal-webfont.svg#FolksRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FolksLightRegular';
    src: url('../fonts/Folks-Light-webfont.eot');
    src: url('../fonts/Folks-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Folks-Light-webfont.woff') format('woff'),
         url('../fonts/Folks-Light-webfont.ttf') format('truetype'),
         url('../fonts/Folks-Light-webfont.svg#FolksLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@oswald: 'Oswald';
@folksR: 'FolksRegular';
@folksL: 'FolksLightRegular';

@grisFonce: #555555;
@grisClair: #F4F9F7;
@blanc: #FFFFFF;
@bleu: #34549D;
@bleuFonce: #1E3456;

/*----INTERFACE ADMIN----*/
.primary li {
	display: inline-block;
	margin-right: 1em;
}


/*----STYLE GENERAL----*/

body {
	font-size:16.5px;
	font-family: @folksR;
	background:url('../images/motifBody.jpg') repeat;
	color: @grisFonce;
	line-height: 1.3em;
}

.outliner {
	display:none;
}

a {
	color:@bleu;
	text-decoration:none;
	&:hover, &:active {
		color:@bleuFonce;
		text-decoration: underline;
	}
}

.section {
	width: 62.65em;
	margin: 0 auto;
	position: relative;
	margin-top: 2em;
	padding-top: 4em;
}

h2 {
	width:51.3em;
	position: absolute;
	background: url('../images/sprite.png') no-repeat -1px 0;
	background-size: 1168px 573px;

	 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/sprite.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/sprite.png', sizingMethod='scale')";

	height: 67px;
	font-family: @oswald;
	text-transform: uppercase;
	font-size: 1.3em;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px @grisFonce;
	top: -1em;
	left: -3.1em;
	padding: 0.8em 0em 0em 2.9em;
}

.bloc {
	background-color: @grisClair;
	border: 2px solid @bleu;
	padding:1em;
	margin-bottom: 1.28em;
}

h3 {
	font-family: @oswald;
	color: @grisFonce;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 0.7em;
}

.with-icon {
	padding-left: 1.2em;
}

.page {
	background-color: @blanc;
	width:67.5em;
	margin:0 auto;
	display:table;
	box-shadow: 0px 2px 8px @grisFonce;
	position: relative;
}

input[type="submit"] {
	background-color: @bleu !important;
	font-family: @oswald !important;
	text-transform: uppercase !important;
	font-size: 1.1em !important;
	height: 1.8em !important;
	border-radius: 6px !important;
	cursor: pointer !important;
	border: none !important;
	color: @blanc !important;

	&:hover, &:active {
		color:@bleu !important;
		background-color: @blanc!important;
	}
}

header {
	height:10em;
	background-image:url('../images/motifH.jpg');
	background-repeat: repeat;
	position: relative;
	width: 67.5em;
	margin: 0 auto;
	z-index: 0;
}

.menu-nav {
	clear: both;
	position:relative;
	top:5.5em;
	margin: 0 auto;

	a {
		text-decoration: none;
		font-family: @oswald;
		font-size: 1.3em;
		text-transform: uppercase;
		padding: 0.5em 0.4em;
		background-color: @grisClair;
		border-radius: 2px;
		position: relative;
		-webkit-transition-duration: 0.2s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-duration: 0.2s;
		-moz-transition-timing-function: ease-out;
		top: 0.1em;
		display: inline-block;
		width: 5.1em;
		text-align: center;
	}	
	
	a:hover{
		top: -0.2em;
	}

	ul {
		display: block;
		width: 62.5em;
		margin: 0 auto;
	}

	li {
		display:inline-block;
		margin: 0 0.19em 0 0.19em;

		&:first-child {
			margin-left:0;
		}

		&:last-child {
			margin-right:0em;
		}

		&:nth-child(3){
			margin-right: 13.45em;
		}

		&:hover div{
		visibility: visible;
		}
	}
}

.login-menu, .menu-login {
	float: right;
	padding: 0.5em 0em;
	li {
		display: inline-block;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	a {
		color: @blanc;
		text-decoration: none;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

.login-menu  {
	margin-right: 2em;
}
.search-form {
	margin-bottom: 0;
	float: left;
}

.second-menu {
	position: absolute;
	background-color: @bleuFonce;
	font-size: 0.9em;
	width: 10em;
	right: -6em;
	top:1.2em;
	padding:0.5em;
	line-height: 1.8em;
	ul {
		margin-top:0.8em;
	}

	li {
		margin:0 !important;
	
		a:hover {
			padding:0 !important;
		}
	}
}

#logo {
	position: absolute;
	top: -6.5em;
	right: 27.65em;
	z-index: 10;
	&:hover{
		background-color: transparent;
	
	}
}

.page-phrase-intro {
	padding-top: 0;
	text-align: center;
	margin-top: 1em;
	font-family: @oswald;
	margin-bottom: 3em;
	a {
		text-decoration: underline;
		font-size: 1.1em;
	}
}

.intro-text {
	ul {
		display: block;
		float: left;
	}

	li {
		background: url('../images/sprite.png') no-repeat -714px -432px;
		background-size: 1158px 573px;
		padding-left: 1.5em;
		margin-bottom:1em;
		line-height: 1.3em;
	}
	
	ul:first-child {
		margin-right: 1.28em;
	}

}

.inscription-invite {
	clear: both;
	background: url('../images/sprite.png') no-repeat -1px -417px;
	background-size: 1158px 573px;
	height: 44px;
	padding-left: 3em;
	padding-top: 1em;
	font-size: 1.3em;
	float: right;
	margin-bottom: 3em;
	width: 442px;

	p {
		font-family: @oswald;
		margin-bottom: 0.2em;
	}

	a {
		background: @bleu url('../images/icones/buttonArrow.png') no-repeat 10px 8px;
		background-size: 14px;
		text-transform: uppercase;
		font-family: 'Oswald';
		border-radius: 6px;
		height: 1.4em;
		color: @blanc;
		font-size: 0.9em;
		padding: 0.3em 0.6em 0em 2em;
		position: relative;
		top: 0.4em;
		float: right;
		right: 4em;
		box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
				-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;

		&:hover, &:active {
			text-decoration: none;
			color: @bleu;
			background:  @grisClair url('../images/icones/buttonArrowB.png') no-repeat 10px 8px;
			background-size: 14px;
		}
	}
}



		&:hover {

		}


.col3 {
	width: 12.459em;
}

.col4 {
	width: 17.8em;
}

.col8 {
	width: 39.06em;
}

.col6 {
	width: 28.429em;
}

.colb6 {
	width: 30.68em;
}

.colb4 {
	width:20.05em;
}

/*-------------BREADCRUMB--------*/

.breadcrumb {
	width: 62.5em;
margin: 0 auto;
margin-top: 6.5em;
li {
	display: inline-block;
	margin-right: 1.2em;
	
	/*&:last-child{
		background-color: @grisClair;
		color: @bleu;
		padding: 0.3em 0.5em;
		border-radius: 5px;
		font-family: oswald;
		font-size: 1em;
		text-transform: uppercase;
	}*/
}

a {
	background-color: @bleu;
	color: @blanc;
	padding: 0.3em 0.5em;
	border-radius: 5px;
	font-family: oswald;
	font-size: 1em;
	text-transform: uppercase;
	position: relative;
	&:hover {
		color: @bleu;
		background-color: @grisClair;
		text-decoration: none;
		&:after {
			background-image: url('../images/icones/breadcrumb-arrow-h.png')
		}
	}
	&:after {
		content: "";
		background-image: url('../images/icones/breadcrumb-arrow.png');
		background-repeat: no-repeat;
		position: absolute;
		right: -0.73em;
		width: 15px;
		height: 35px;
		background-size: 15px 35px;
		top: 0em;
	}
}
}

/*-------------LOGIN & REGISTER--------*/

.profile {
	width: 62.65em;
	margin: 0 auto;
	margin-top: 2em;
}

#user-login, #user-register-form {
	width: 62.65em;
	margin: 0 auto;
	position: relative;
	margin-top: 2em;

	.description {
		margin-top: 0.4em;
		line-height: 1.2em;
	}

	>div:first-child {
		width: 28.429em;
		background-color: @grisClair;
		border: 2px solid @bleu;
		padding: 1em;
	}

	label {
		margin-bottom: 0.2em;
	}

	input {
		font-family: 'FolksRegular';
		width: 17em;
		height: 2.2em;
		background-color: @blanc;
		border: none;
		color: @bleuFonce;
		padding-left: 0.5em;
		font-size: 1em;
		border: 1px #eee solid;
		-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-ms-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
	}

}

#user-login input[type="submit"] {
	width: 8em;
			box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
}

#user-register-form input[type="submit"] {
	width: 10em;
		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;	
}

/*--------------FORUM-----------*/

.forum {
	padding: 0;
	h3 {
		background: url('../images/sprite.png') no-repeat -1px -158px;
		background-size: 1158px 573px;
		height: 20px;
	}
}

.forum table {
	background-color: none;
	border: 2px solid @bleu;

	thead tr {
		background-color: @grisClair;
		border: 2px solid @bleu;
	}
	th {
		padding: 1em 0em;
	}

	tbody tr {
		background-color: transparent !important;
	}
}


.forum-list-legend-item span>span {
	background-size: 30px !important;
	margin-bottom: 0 !important;
}

.forum-statistics {
	border: 2px solid @bleu;
}

.forum-statistics-header {
background-color: @grisClair;
border-bottom: 2px solid @bleu;
padding: 0.5em;
}

.forum-statistics-sub-header, .forum-statistics-sub-body {
	background-color: transparent !important;
}


/*----------------ACCUEIL--------------*/


.news-contest .more-link a, .news-forum .more-link a, .news-calendar .more-link a, .news-videos .more-link a, .news-photos .more-link a {
		background: @bleu url('../images/icones/buttonArrow.png') no-repeat 10px 10px;
		background-size: 14px;
		text-transform: uppercase;
		font-family: 'Oswald';
		border-radius: 6px;
		height: 1.4em;
		color: @blanc;
		padding: 0.3em 0.6em 0.3em 1.8em;
		box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.26);
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
		&:hover, &:active {
			text-decoration: none;
			color: @bleu;
			background:  @blanc url('../images/icones/buttonArrowB.png') no-repeat 10px 10px;
			background-size: 14px;
		}
}

.news-videos .more-link a, .news-photos .more-link a {
	&:hover {
					text-decoration: none;
			color: @bleu;
			background:  @grisClair url('../images/icones/buttonArrowB.png') no-repeat 10px 10px;
			background-size: 14px;
	}
}

.presentation-video {
	margin: 0 auto;
	width: 854px;
}

.news-contest, .news-forum, .news-calendar, .news-photos, .news-videos {
	float: left;
}

.news {
	clear: both;
}

.news-forum {
h3 {
	background: url('../images/sprite.png') no-repeat -4px -159px;
	background-size: 1158px 573px;
	height: 20px;
	width: 260px;
	}

	.view-content {
		margin-bottom: 1.5em;
	}

	.views-row {
		margin-bottom: 0.5em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 0.5em;

		>span:first-of-type {
			display: inline-block;
			width: 10em;
		}
	}

}

.news-contest {
	margin-right: 1.28em;
	height: 26.45em;
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -125px;
		background-size: 1158px 573px;
		height: 20px;
	}

	.view-content {
		margin-bottom: 1.5em;
	}

	.views-row {
		margin-bottom: 0.5em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 0.5em;

		>span:first-of-type {
			display: inline-block;
			width: 10em;
		}
	}


.acces {
	float: right;
}

}

.news-calendar {
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -319px;
		background-size: 1158px 573px;
		height: 21px;
		width: 260px;
	}
	li {
		margin: 0 !important;
	}

	.view-content {
		margin-bottom: 1.5em;
	}

	.views-row {
		margin-bottom: 0.5em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 0.5em;

		>span:first-of-type {
			display: inline-block;
			width: 10em;
		}
	}

}

.news-photos {
		margin-right: 1.28em;
		clear: both;

		h3 {
			background: url('../images/sprite.png') no-repeat -4px -353px;
			background-size: 1158px 573px;
			height: 20px;
		}

		li {
			list-style-type: none;
			margin-bottom: 1.28em;
		}

		.view-content {
		margin-bottom: 1.5em;
	}
}

.news-videos {

	h3 {
		background: url('../images/sprite.png') no-repeat -4px -383px;
		background-size: 1158px 573px;
		height: 20px;
	}

	li {
		margin-bottom: 1.28em;
		list-style-type: none;
		
	}

	.view-content {
		margin-bottom: 1.5em;
	}
}

.news-photos img, .news-videos img, .photos img, .album-photos img {
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.news-videos-infos,.news-photos-infos  {
	float: right;
	width: 14.7em;
}

/*----------------LECLUB--------------*/


.activities-intro {
	p,div {
		float:left;
	}
	p{
		position: absolute;
		background-color: rgba(52,84,157,.6);
		padding: 1em;
		text-align: center;
		color: white;
		top: 18em;
	}
}

.activities-details {

	clear:both;
	padding-top: 2em;

	>div ul {
		margin-bottom: 5em;


		li {
			background: url('../images/sprite.png') no-repeat -714px -431px;
			background-size: 1158px 573px;
			padding-left: 1.5em;
			margin-bottom:1em;
			line-height: 1.3em;
		}
	}

	>ul {
		text-align: center;
		margin-bottom: 2em;
		background: url('../images/sprite.png') no-repeat -461px -155px;
		background-size: 1158px 573px;
		width: 525px;
		height: 148px;
		margin: 0 auto;

		li:last-child {
			margin-top: 2em;
		}
	}

	div {
		float: left;

		h4{
			text-align:center;
			margin-bottom: 0.3em;
		}
	}

	em {
	color: @bleu;
	text-transform: uppercase;
	font-family: @oswald;
}

}

.activities-jeudi {
	margin-right: 1.25em;
}


.comite {
	clear: both;
	height: 58em;
}

.comite-members {
	>div {
		float: left;
		margin: 0em 0.66em 2em 0.66em;
		position: relative;


		&:first-child {
			margin-left: 0;
		}
		&:nth-of-type(5){
			margin-left:0;
		}
		&:nth-of-type(4){
			margin-right: 0;
		}
		&:nth-of-type(8){
			margin-right: 0;
		}

		&:nth-of-type(9){
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}


	}

	img {
		box-shadow: 0px 0px 5px @grisFonce;
	}

}

.member-email {
	position: absolute;
	top: 9.5em;
	width: 235px;
	height: 40px;
	right: 0.9em;

	button {
		background: url('../images/sprite.png') no-repeat -1px -488px;
		background-size: 1158px 573px;
		width: 40px;
		height: 38px;
		height: 39px;
		border: none;
		background-color: transparent;
		cursor:pointer;

		&:hover {
			
			+a{
			width: 180px;
			visibility:visible
			}
		}
 
	}

	a {
		background-color: @bleu;
		position: relative;
		top: 0.413em;
		right: 0.3em;
		display: inline-block;
		visibility: hidden;
		width: 0px;
		color:  @blanc;
		padding: 0.2425em;
		-webkit-transition: width .25s ease-in-out, visibility .25s ease-in-out;
		-moz-transition: width .25s ease-in-out, visibility .25s ease-in-out;
		-o-transition: width .25s ease-in-out, visibility .25s ease-in-out;
		transition: width .25s ease-in-out, visibility .25s ease-in-out;
	}
}

.member-phone {
	position: absolute;
	top: 12em;
	width: 235px;
	height: 40px;
	right: 0.9em;

	button {
		background: url('../images/sprite.png') no-repeat -1px -535px;
		background-size: 1158px 573px;
		width: 40px;
		height: 38px;
		height: 39px;		
	 	border: none;
		background-color: transparent;
		cursor:pointer;
		&:hover+em {
			visibility: visible;
		}
	}

	em {
		visibility: hidden;
		color:  @blanc;
	}
}

.member-nom-fonction {
	text-align: center; 
	margin-top: 0.4em;
	h3 {
		margin-bottom: 0.2em;
	}
}



#club-histoire {
	width: 1033px;
	height:	560px;
}

#club-histoire .turn-page {
	background-color: #DFE6E4;
	height:560px;
}

#club-histoire .turn-page p {
	width: 465px;
}

.page-content {
	padding:2em;
	
	p{
		margin-bottom: 1em;
	}
}



.links-others {
	clear: both;

	>div {
		float:left;
	}

	li {
		margin: 0 !important;
	}
}

.links-fcvb {
	margin-right: 1.25em;
}



/*----------------REALISATIONS--------------*/

.realisations {
	li {
		margin-bottom: 2.5em;
		list-style-type: none;
	}
}

.realisations-video {
	display: inline-block;
}

.realisations-infos {
	float: right;
	width: 30.7em;
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -383px;
		background-size: 1158px 573px;
		height: 21px;
		margin-bottom: 0.1em;
	}

	.infos-date {
		font-style: italic;
		font-size: 0.9em;
	}

	.infos-description {
		margin-top: 1em;
	}
}

.realisation {
		padding-top: 0;

		h3 {
		background: url('../images/sprite.png') no-repeat -4px -384px;
		background-size: 1158px 573px;
		height: 20px;
		margin-bottom: 0.1em;
	}
}

.realisation-date {
	font-style: italic;
	font-size: 0.9em;
}

.realisation-description {
	margin: 1em 0em 1em 0em;
}

.videos-retour {
	float: right;
	text-decoration: underline;
}

/*----------PAGE 1 CONCOURS-----------¨*/

.concours-resultats {
		padding-top: 0;

		h3 {
		background: url('../images/sprite.png') no-repeat -4px -125px;
		background-size: 1158px 573px;
		height: 20px;
		margin-bottom: 0.1em;
	}
}

.concours-resultats-date {
	font-style: italic;
	font-size: 0.9em;
}

.concours-resultats-tableau {
	margin: 1em 0em 1.5em 0em;
	table {
		width: 100%;

		thead {
			background-color: @bleu;
			color: @blanc;

			th {
				padding: 0.4em;
			}
		}

		tbody {

			td {
				padding: 0.4em;
			}

			tr {
				border-bottom: 1px solid #ccc;
				background-color: transparent;
			}
		}
	}
}

.pdf-link {
	text-decoration: underline;
}

.concours-retour {
	float: right;
	text-decoration: underline;

}

/*---------------EVENEMENTS------------*/

.calendrier-event {
	margin-bottom: 1.5em;
	clear: both;
	display: table;
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -319px;
		background-size: 1158px 573px;
		height: 21px;
		width: 370px;
		margin-bottom: 0.1em;
	}

	.event-infos {
		float: left;
		margin-right: 1.24em;
		width: 27.85em;
	}
}

.event-categorie {
	font-style: italic;
	font-size: 0.9em;
}

.event-description {
	float: left;
	margin-top: 1.3em;
	background-image: url('../images/icones/infos.png');
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: right;
	padding-right: 2.8em;
	height: 2.5em;
	text-align: right;
}

.calendrier-google {
	float: right;
	text-decoration: underline;
}

.calendrier-google {
	margin-bottom: 2em;
}


/*----------------ARCHIVES--------------*/
.concours >div {
	height: 13em;
}

.concours-interclubs, .concours-provincial, .concours-national, .concours-etrangers {
	float:left;

	.views-row {
		margin-bottom: 0.5em;
		border-bottom: 1px solid #ccc;
		padding-bottom: 0.5em;
	}
}

.concours-interclubs, .concours-provincial, .concours-national {
	margin-right: 1.28em;
}

.photos {
	clear: both;
	.views-row {
		float: left;
		width: 30.68em;
		margin: 0 1.28em 1.28em 0;
		&:nth-child(2){
			margin-right: 0em;
		}
	}

	li{
		list-style-type: none;

	}
}


/*-----ALBUM PHOTOS-----*/

.album-photos {
	padding-top: 0;

	h3 {
			background: url('../images/sprite.png') no-repeat -4px -352px;
			background-size: 1158px 573px;
			height: 20px;
			margin-bottom: 0.1em;
	}

	span {
		font-size: 0.9em;
		font-style: italic;
	}


	ul {
		margin: 1em 0em 1.5em 0em;
	}

	li {
		display: inline-block;
		margin: 0.49em;
	}
}

.album-photos-description {
	margin-top: 0.4em;
}

.photos-retour {
	float: right;
	text-decoration: underline;
}

.photos-albums-infos {
	float: right;
	width: 14.8em;
}



/*----------------CONTACT--------------*/

.contact-text {
	margin: 0 auto;
	text-align: center;
}

.contact-form,.contact-particulars {
	float:left;
}

.contact-form {
	margin-right: 1.28em;
	margin-bottom: 4em;

	input[type="submit"] {
		width: 10em;
		box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.26);
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition: background 0.5s;
		-webkit-transition-timing-function: ease-out;
		-moz-transition-timing-function: ease-out;
	}

	h3 {
		background: url('../images/sprite.png') no-repeat -4px -188px;
		background-size: 1158px 573px;
		height: 21px;
	}

	label {
		display: block;
		margin-bottom: 0.2em;
	}
	input {
		font-family: @folksR;
		width: 17em;
		height: 2.2em;
		background-color: @blanc;
		border: none;
		color: @bleuFonce;
		padding-left: 0.5em;
		font-size: 1em;
		border: 1px #eee solid;
		-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-ms-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25)
	}

	::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f2f8f8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f2f8f8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f2f8f8;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f2f8f8;
}

	textarea {
		font-family: @folksR;
		background-color: @blanc;
		color: @bleuFonce;
		font-size: 1em;
		border: none;
		padding: 0.5em;
		height: 10em;
		margin-bottom: 1em;
				border: 1px #eee solid;
		-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		-ms-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25);
		box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25)
	}
}

.contact-address {
		h3 {
			background: url('../images/sprite.png') no-repeat -716px -537px;
			background-size: 1158px 573px;
			height: 21px;
			padding-left: 0.9em;
	}
}

.contact-post {
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -224px;
		background-size: 1158px 573px;
		height: 19px;
	}
}

.contact-email {
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -290px;
		background-size: 1158px 573px;
		height: 20px;
		width: 48px;
	}
}

.contact-phone {
	margin-top: 4em;
	h3 {
		background: url('../images/sprite.png') no-repeat -4px -255px;
		background-size: 1158px 573px;
		height: 19px;
		width: 90px;
	}
}

#envoyer {
	font-family: @oswald;
	text-transform: uppercase;
	font-size: 1.2em;
	width: 4.4em;
	padding: 0;
	height: 1.8em;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: none;
	border: none;

	&:hover {
		color:@bleu;
		background-color: #f2f8f8;
	}
}

.contact-particulars>div>div {
	margin-bottom: 4em;
}

.visit {
	clear: both;
}

#visit-map {
	height: 400px;
	width:1030px;
	border: 2px solid @bleu;
}

.map-infos {
	font-size: 0.9em;
}

.visit-acces p {
	margin-bottom: 1em;
	width: 40em;
}

.inscription-member1,.inscription-member2 {
	float: left;
	width:30.68em;
		li {
		background: url('../images/sprite.png') no-repeat -714px -432px;
		background-size: 1158px 573px;
		padding-left: 1.5em;
		margin-bottom:1em;
		line-height: 1.3em;
	}

	.compte li {
		background-image: none;
	}
}

.inscription-member1 {
	margin-right: 1.28em;
	position: relative;

	>div{
		margin-bottom: 0.6em;
	}

		p {
		margin-top: 1em;
	}

	/*&:after{
		content:"";
		height: 60px;
		width: 100px;
		position: absolute;
		background-image: url('../images/icones/inscri-arrow.png');
		top: 18em;
		right: 12em;
		background-size: 100px;
		background-repeat: no-repeat;
	}*/
}

.inscription

{ span {
	font-family: @oswald;
	color: @bleu;
	display: block;
	text-align: center;

}

	ul {
		margin: 1em 0 1em 0;
	}

	.compte {
		text-align: center;
		margin-top: 1em;
	}
}

.inscription-note {
	clear: both;
	text-align: center;
	padding-top: 2em;
	margin-bottom: 1em;

	.telecharger {
		font-family: @oswald;
		text-transform: uppercase;
		position: relative;
		top: 0.8em;
		font-size: 1.2em;
	}
}


/*----------------FORUM--------------*/

#cboxLoadedContent img {
  max-width: none;
}

.primary {
	display: none;
}

/*---------FOOTER---------*/

footer {
	clear: both;
	background-image:url('../images/motifH.jpg');
	background-repeat: repeat;
	color: @blanc;
	top: 2.5em;
	position: relative;
	font-size: 0.9em;
	height: 22em;
	h3 {
		color: @blanc;
	}
	a {
		color: @blanc;
		&:hover {
			text-decoration: underline;
			color: @blanc;
		}
	}
}

.footer-content {
	width: 69.5em;
	margin: 0 auto;
	padding-top: 1.5em;
}

.footer-plan {
	float: left;
	margin-right: 1.55em;
	>ul {
		display: inline-block;
		width: 16.2em;
		vertical-align: top;
		&:first-of-type {
			margin-right: 1.28em;
		}
		>li {	
			margin-bottom: 0.7em;
			>a {
				font-weight: bold;
			}

			ul li {
				font-family: @folksL;
				font-size: 0.98em;
			}
		}
	}
}

.footer-contact {
	float: left;
	width: 16.2em;
	margin-right: 1.28em;
	font-family: @folksL;
}

.footer-adress {
			background: url('../images/sprite.png') no-repeat -427px -332px;
			background-size: 1158px 573px;
			padding-left: 1.4em;
			margin-bottom: 0.7em;
			font-size: 0.98em;
}

.footer-post {
		background: url('../images/sprite.png') no-repeat -431px -410px;
		background-size: 1158px 573px;
		padding-left: 1.4em;
		width: 180px;
		margin-bottom: 0.7em;
		font-size: 0.98em;
}


.footer-email {
		background: url('../images/sprite.png') no-repeat -431px -485px;
		background-size: 1158px 573px;
		height: 16px;
		padding-left: 1.4em;
		font-size: 0.98em;
}

.footer-phone {
		background: url('../images/sprite.png') no-repeat -431px -527px;
		background-size: 1158px 573px;
		height: 19px;
		width: 160px;
		padding-left: 1.4em;
		margin: 0.7em 0em 0.7em 0em;
		font-size: 0.98em;
}

.footer-networks {
	float: left;
	width: 16.2em;


.first {
	background: url('../images/sprite.png') no-repeat -380px -97px;
	background-size: 1158px 573px;
	width: 196px;
	height: 40px;
	padding: 0.4em 0em 0em 3em;
	margin: 0;
}

.last {
	background: url('../images/sprite.png') no-repeat -380px -144px;
	background-size: 1158px 573px;
	width: 196px;
	height: 36px;
	padding: 0.4em 0em 0em 3em;
	margin: 0;
	}

}

#footer-top {
	float: right;
	position: relative;
	top: -1.8em;
	right: -1.5em;
	cursor:pointer;
}

/*---------RESPONSIVE---------*/

/* iPads (landscape) ----------- */
@media only screen and (max-width: 1200px) {

.col3 {
	width: 9.8em;
}

.col4 {
	width: 14.2em;
}

.col6 {
	width: 22.85em;
}

.col8 {
	width: 31.51em;
}

.colb6 {
	width: 25.1em;
}

.page {
	width: 57.3em;
}

.section, .breadcrumb, #user-login, #user-register-form {
	width: 51.2em;
}

.profile {
	width: 51.2em;
}

header {
	width: 57.3em;
}

h2 {
	background-size: 991px;
	left: -3.38em;
	padding: 0.8em 0em 0em 3.35em;
}

h3 {
	font-size: 1.18em;
}

.login-menu {
margin-right: 2.5em;
}

#logo {
	right: 23.68em;
	img {
		width: 165px;
		height: auto;
	}
}

.menu-nav {

	top: 5.7em;

	ul {
		width: 51.2em;
	}

	li {
		margin: 0 0.09em 0 0.09em;
		&:nth-child(3){
			margin-right: 10.1em;
		}

	}

	a {
		font-size: 1.1em;
	}
}

/*--ACCUEIL--*/

.inscription-invite {
	width: 353px;
	a {
		right: 0.1em;
	}
}

.news-contest .view-content {
	margin-bottom: 0.8em;
}


.intro-text ul:first-child, .news-contest, .news-photos {
	margin-right: 1em;
}

.news-photos img, .news-videos img {
	width: 12.1em;
	height: auto;
}

.news-photos-infos, .news-videos-infos {
	width: 12em;
}

.news-photos {
	h3 {
		background-size: 1035px;
background-position: -4px -312px;
	}


 li {
	margin-bottom: 1.68em;
}

}

.news-videos h3 {
	background-size: 1060px;
background-position: -4px -349px;
}
/*--CLUB--*/

.activities-intro {
	img {
		width: 51.25em;
		height: auto;
	}

	p {
		top: 15em;
	}
}

.activities-jeudi, .links-fcvb {
	margin-right: 1em;
}

.comite {
	height: 51em;
}

.comite-members {
	img {
		width: 11.9em;
		height: auto;
	}

	>div {
		margin: 0em 0.58em 2em 0.58em;
	}

	h4 {
		font-size: 0.9em;
	}
}

.member-email, .member-phone {
	width: 193px;
	right: 0.73em;
}

.member-email {
	top: 6.5em;
}

.member-phone {
	top: 9em;
}

#club-histoire {
	width: 845px;
	font-size: 0.9em;
	line-height: 1.3em;
}

#club-histoire .turn-page {
	width: 422px;
	p {
		width: 383px;
	}
}

/*--REALISATIONS--*/

.realisations-video {
	iframe {
		width: 414px;
		height: 246px;
	}
}

.realisations-infos {
	width: 25em;
}

.infos-description {
	margin-top: 0.7em;
}

/*--1 REALISATION--*/

.realisation-video iframe {
	width: 845px;
	height: 475px;
}

/*--EVENEMENTS--*/


.calendrier-event .event-infos {
width: 22em;
}
.photos {

	.views-row {
		width: 25.1em;
		margin: 0 1em 1.28em 0;
	}
	img {
		width: 12em;
		height: auto;
	}
}

.photos-albums-infos {
	width: 12.2em;
}

/*--1 ALBUM PHOTOS--*/

.album-photos li {
	margin: 0.392em;
}

/*--CONCOURS--*/

.concours > div {
height: 16em;
}

.concours-interclubs, .concours-provincial, .concours-national {
	margin-right: 1em;
}

.concours-interclubs, .concours-provincial, .concours-national, .concours-etrangers {
	>div {
		font-size: 0.9em;
	}
}

/*--CONTACT--*/

.contact-form {
	margin-right: 1em;
}

#visit-map {
	width: 842px;
}

.inscription-member1, .inscription-member2 {
width: 25.1em;
}

.inscription-member1 {
	margin-right: 1em;
}

/*--FOOTER--*/


.footer-content {
	width: 56.9em;
}

.footer-plan {
	margin-right: 0.8em;
	>ul {
		width: 13.3em;
		&:first-of-type {
			margin-right: 1.2em;
		}
	}
}

.footer-contact {
	width: 13.4em;
	margin-right: 1.2em;
}

.footer-networks {
	width: 13.3em;
}

}

@media only screen and (max-width: 1023px) {

body {
	font-size: 15px;
}

.col3 {
	width: 8.3em;
}

.col4 {
	width: 12em;
}

.col6 {
	width: 19.6em;
}

.col8 {
	width: 27em;
}

.colb6 {
	width: 21.1em;
}

.page {
	width: 48.5em;
}

.section, .breadcrumb, #user-login, #user-register-form  {
	width: 44.2em;
}

.breadcrumb {
	margin-top: 3.5em;

 a:after {
	background-size: 15px 32px;
	right: -0.85em;
}
}

.menu-login {
	margin-right: 0.5em;
}

header {
	width: 48.5em;
	height: 14em;
}

h2 {
	background-size: 763px;
	left: -2.47em;
	height: 44px;
	width: 36.4em;
	padding: 0.55em 0em 0em 2.4em;
}

h3 {
	font-size: 0.96em;
}

.with-icon {
	padding-left: 1.5em;
}

#logo {
	right: 18.85em;
	top: -13em;
	img {
		width:160px;
		height: 160px;
	}
}

.menu-nav {

	top: 9.5em;

	ul {
		width: 44.2em;
	}

	li {
		margin: 0 0em 0 0em;
		&:nth-child(3){
			margin-right: 0em;
		}

	}

	a {
		font-size: 1.25em;
		width: 4.9em;
		&:hover {
			top: 0.1em;
			color: @grisClair;
			background-color: @bleu;
		}
	}
}

/*--ACCUEIL--*/

.inscription-invite {
width: 271px;
}

.intro-text ul:first-child, .news-contest, .news-photos {
	margin-right: 0.6em;
}

.news-contest .more-link a, .news-forum .more-link a, .news-calendar .more-link a, .news-videos .more-link a, .news-photos .more-link a {
background-image:none;
padding: 0.3em 0.6em;

	}

.news-photos img, .news-videos img {
	width: 9.6em;
	height: auto;
}

.news-photos-infos, .news-videos-infos {
	width: 10.95em;
}
.news-contest .view-content {
margin-bottom: -0.5em;
}

.news-photos li {
margin-bottom: 1.95em;
}

/*--CLUB--*/

.activities-intro {
	img {
		width: 44.2em;
		height: auto;
	}

	p {
		top: 14em;
		padding: 0.5em;
	}
}

.activities-jeudi, .links-fcvb {
	margin-right: 0.6em;
}

.comite-members {
	img {
		width: 10.5em;
		height: auto;
	}

	>div {
		width: 10.5em;
		height: 15.5em;
		margin: 0em 0.35em 0.5em 0.35em;
	}

	h4 {
		font-size: 0.9em;
		line-height: 1.2em;
	}
}

.member-email, .member-phone {
	width: 193px;
	right: -1.85em;
}

.member-email {
	top: 5.2em;
}

.member-phone {
	top: 8em;
}

#club-histoire {
	width: 663px;
	height: 600px;
}

#club-histoire .turn-page {
	width: 331.5px;
	height: 600px;
 p {
width: 284px;
}
}

/*--REALISATIONS--*/

.realisations-video {
	iframe {
		width: 326px;
		height: 194px;
	}
}

.realisations-infos {
	width: 21.8em;
}

.infos-description {
	margin-top: 0.7em;
}

.realisation-video {
	iframe {
		width: 663px;
		height: 373px;
	}
}

/*--EVENEMENTS--*/

.calendrier-event .event-infos {
width: 19em;
}
.photos {
	img {
		width: 10.6em;
		height: auto;
	}
}

.photos-albums-infos {
	width: 10.5em;
}

.photos .views-row {
width: 21.7em;
margin: 0 0.8em 1.28em 0;
}

.album-photos img {
	width: 154px;
	height: auto;
}

/*--CONCOURS--*/

.concours-interclubs, .concours-provincial, .concours-national {
	margin-right: 0.6em;
}

.concours-interclubs, .concours-provincial, .concours-national, .concours-etrangers {
	>div {
		font-size: 0.9em;
	}
}

/*--CONTACT--*/

.contact-form {
	margin-right: 0.6em;
}

.contact-form input {
	height: 1.8em;
}

.form-item, .form-actions {
margin-top: 0.5em !important;
margin-bottom: 0.5em !important;
}

.contact-particulars > div > div {
margin-bottom: 2em;
}

#visit-map {
	width: 660px;
	height: 290px;
}

.inscription-member1, .inscription-member2 {
width: 21.8em;
}

.inscription-member1 {
	margin-right: 0.6em;
}

/*--FOOTER--*/


.footer-content {
	width: 48.9em;
}

.footer-plan {
	margin-right: 0.7em;
	>ul {
		width: 11.6em;
		&:first-of-type {
			margin-right: 0.7em;
		}
	}
}

.footer-contact {
	width: 11.5em;
	margin-right: 0.7em;
}

.footer-networks {
	width: 11.7em;
}

#footer-top img {

	width: 100px;
	height: auto;

}

}

@media only screen and (max-width: 767px) {

/*----Elements cachés----*/

#histoire-club {
	display:none;
}

body {
	font-size: 19.5px;
}

header {
	height: 17.4em;
	width: 31em;
	z-index: 1;
}

.page {
	width: 31em;
}

.col4, .col8 {
	width: 24.7em;
}

.col6 {
width: 24.8em;
}

.colb6 {
	width: 26.1em;
}

.section, .breadcrumb, #user-login, #user-register-form {
width: 27em;
}

.breadcrumb a:after {
	background-size: 15px 42px;
	height: 42px;
	right: -0.65em;
}

h2 {
	background-image: none;
	background-color: @bleu;
	height: 29px;
	width: 22.4em;
	left: -1.55em;
	padding: 0.55em 0em 0.3em 1.5em;
}

h3 {
	font-size: 0.93em;
}

.with-icon {
	padding-left: 1.7em;
}

.menu-nav {
	top: 6.9em;
	padding: 0.1em 0;
	text-align: center;

	a {
		width: 5.17em;
		display: inline-block;
		top: 1em;
		font-size: 1.43em;
		&:hover {
			top: 1em;
			color: @grisClair;
			background-color: @bleu;
		}
	}

	ul {
		width: 27em;
	}
	li {
		margin: 0.2em 0.1em !important;
	}
}

#logo {
	right: 11.4em;
	top: -15.2em;
}

/*--ACCUEIL--*/

.intro-site {
	padding-top: 0;
}

.inscription-invite {
	width: 18em;

 a {
	font-size: 0.9em;
	top: 0.5em;
	right: 0.8em;
}
}

.news-photos-infos, .news-videos-infos {
    width: 15.95em;
}

.news-contest h3 {
	width: 16em;
}

/*--CLUB--*/

.activities-intro {
 img {
	width: 27em;
}

p {
	display: none;
}

}
.activities-details {
	padding-top: 1em;
	>ul {
		background-image: none;
		height: 115px;
		width: 27em;
	}

	>div ul {
		margin-bottom: 2em;
		li {
			background: url('../images/sprite.png') no-repeat -714px -434px;
			background-size: 1158px 573px;
		}
	}

	div h4 {
		text-align: left;
	}
}

.activities-jeudi {
	margin-top: 2em;
}

.comite {
height: 102em;
}
.comite-members {

	img {
		width: 12.97em;
	}

	>div {
		margin: 0em 0.35em 1.5em 0.35em;
		width: 12.97em;
	}
}

.member-nom-fonction {
	font-size: 1.05em;
}

.member-email, .member-phone {
	right: 3.7em;
}

.member-email {
	top: 8em;
}

.member-phone {
	top: 10.3em;
}

.links-fcvb {
	margin-bottom: 2em;
}

/*--REALISATIONS--*/

.realisations-infos {
	width: 27em;
	margin-bottom: 1em;
}

.realisations-video iframe {
width: 527px;
height: 296px;
}

.realisation-video iframe {
width: 527px;
height: 296px;
}

.infos-description {
	font-size: 0.9em;
	line-height: 1.2em;
	margin-top: 0.2em;
}

/*--EVENEMENTS--*/

.event-description {
	width: 24.1em;
	margin-bottom: 2em;
}

.photos .views-row {
width: 27em;
margin: 0 0em 1.28em 0;
}

.photos-albums-infos {
width: 15.5em;
}

.album-photos img {
width: 160px;
height: auto;
}

/*--CONCOURS--*/

.concours>div {
	margin-bottom: 0.6em;
}

.concours-resultats h3 {
	width: 17em;
}

.concours-resultats-tableau {
font-size: 0.75em;
}

.col3 {
	width: 10.96em;
}

.concours-provincial {
	margin-right: 0;
}


/*--CONTACT--*/

#visit-map {
	width: 527px;
}
.contact-form {
margin-bottom: 2em;
}
.contact-phone {
margin-top: 2em;
}
.visit-acces p {
margin-bottom: 1em;
width: 27em;
}
.inscription-member1, .inscription-member2 {
width: 27em;
}
.inscription-note {
	padding-top:0;
	margin-bottom: 0;
}
/*--FOOTER--*/

footer {
	height: 39em;
}

.footer-content {
	width: 30em;
}

.footer-plan, .footer-contact, .footer-networks {
	font-size: 1.2em;
	margin-right: 0;
}

.footer-plan > ul, .footer-contact, .footer-networks, .footer-top {
    width: 12.05em;
}

.footer-plan > ul:first-of-type, .footer-contact {
	margin-right: 0.6em;
}

.footer-networks iframe {
		width: 193px !important;
		height: 66px !important;
	}

#footer-top {


top: 0.2em;
right: -0.5em;
	img {
		width: 6.5em;
		height: auto;
	}

}

}

@media only screen and (max-width: 599px) {

/*---Contenu masqué--*/

.intro-text {
	display: none;
}


body {
	font-size: 17px;
}

header {
	height: 16.9em;
	width: 28.2em;
}

.page {
	width: 28.25em;
}

#logo {
	right: 9.4em;
}

.breadcrumb a:after {
	background-size: 15px 35px;
height: 37px;
right: -0.8em;
}

.menu-nav {
	top: 6.8em;

 ul {
width: 27.05em;
}
}

h2 {
	width: 21.14em;
	padding: 0.55em 0em 0em 0.6em;
	left: -0.5em;
}

.inscription-invite {
width: 17.75em;
}

.news {
	padding-top: 2.5em;
}

.news-contest h3 {
	width: 16em;

}

.news-contest .view-content {
margin-bottom: 1.5em;
}

.activities {
	padding-top: 3em;
}

.member-email, .member-phone {
right: 2.4em;
}

.realisations-video iframe {
	width: 459px;
	height: 258px;
}

.realisation-video iframe {
	width: 459px;
	height: 258px;
}

.album-photos img {
width: 139px;
height: auto;
}

#visit-map {
	width: 459px;
}

.footer-content {
width: 30.1em;
}

.footer-plan, .footer-contact, .footer-networks {
font-size: 1em;
}

.footer-plan > ul, .footer-contact, .footer-networks, .footer-top {
width: 14.6em;
}

#footer-top {
	top: -0.8em;
right: 0.5em;
}

}


@media only screen and (max-width: 479px) {

.activities-intro img, .event-description, .photos-albums-infos p:last-child {
display: none;
}


body {
	font-size: 15px;
}

header {
	height: 16em;
	width: 21.334em;
}

.page {
	width: 21.334em;
}

.section, .breadcrumb, #user-login, #user-register-form {
width: 20em;
}

.colb6 {
	width:20em;
}

.col4, .col8 {
	width: 17.7em;
}
.breadcrumb a:after {
background-size: 15px 32px;
height: 32px;
right: -0.8em;
}
#logo {
top: -14.2em;
}

.login-menu {
margin-right: 0.2em;
}

.menu-login {
margin-right: 0.2em;
}

.menu, .menu-login {
	font-size: 1em;
}

.login-menu li, .menu-login li {
margin-left: 0.2em;
margin-right: 0.2em;
}

.menu-nav{
top:6.4em;

 ul {
width: 21em;
}

a {
	font-size: 1.1em;
}
}

#logo {

right: 6.4em;

	img {
width: 125px;
height: 125px;
}
}
h2 {
	width: 15.75em;
	left: -0.5em;
	padding-left: 0.65em;
}

.col3, .col6 {
width: 17.7em;
}

.news {
	padding-top: 2.5em;
}

.inscription-invite {
	width: 13.65em;
	font-size: 1.2em;

	a {
		font-size: 0.85em;
		background-size: 12px;
		&:hover, &:active {
			background-size: 12px;
		}
	}
}

.news-calendar .views-row > span:first-of-type, .news-forum .views-row > span:first-of-type {

width: 17.2em;
}

.news-contest .more-link a, .news-forum .more-link a, .news-calendar .more-link a, .news-videos .more-link a, .news-photos .more-link a {

font-size: 0.9em;
background-size: 12px;

	}

	.news-photos-infos, .news-videos-infos {
width: 10em;
}

.news-videos {
	margin-top: 1.5em;
}


.activities-details>ul {
	width: 20em;
}

.activities-jeudi {
	margin-top: 0;
}

.comite-members > div {
margin: 0em 0.35em 1.5em 0.35em;
width: 19.97em;
height: auto;
}

.comite-members img {
width: 19.97em;
}

.member-phone {
top: 14em;
}
.member-email, .member-phone {
right: 7.9em;
}
.member-email {
top: 11em;
}

.realisations-video iframe, .realisation-video iframe {
	width: 300px;
	height: 169px;
}

.realisations-infos {
	width: 20em;
}

.photos .views-row {
width: 20em;
}

.photos-albums-infos {
width: 8.5em;
}

.album-photos img {
width: 138px;
height: auto;
}

.visit {
	padding-top: 2em;
}

.visit-acces p {
width: 20em;
}

#visit-map {
	width: 300px;
}

.inscription-member1, .inscription-member2 {
width: 20em;
}

footer {
height: 38em;
}

.footer-content {
	width:22.2em;
}

.footer-plan, .footer-contact, .footer-networks {
font-size: 1.1em;
}

.footer-plan > ul, .footer-contact, .footer-networks, .footer-top {
    width: 9.65em;
}

.footer-adress, .footer-post, .footer-email,.footer-phone  {
	background-image: none;
	padding-left: 0;
}

.footer-networks .first, .footer-networks .last {

	width: 99px;
}

#footer-top {
	right:0;
	top: -1em;

 img {
width: 5em;
height: auto;
}
}

}













.messages {
	display: none;
}